form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #1374C5;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px 0;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

mat-card {
  max-width: 700px;
  height: 600px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 250px;
}

mat-card-title {
  text-align: center;
  font-size: 20px;
} 