/* Imposta altezza al 100% della viewport */
.container {
    height: 100vh;
    display: flex;
}

/* Stile per la sidenav */
mat-sidenav {
    width: 220px;
    background-color: #2c3e50; /* Blu scuro */
    color: white;
    height: 100%; 
}

mat-sidenav-container {
    margin: 0;
    padding: 0;
    height: 100vh; /* Assicura che il container occupi tutta l'altezza della finestra */
    width: 100vw; /* Assicura che il container occupi tutta la larghezza della finestra */
}

mat-sidenav-content {
    background: #ecf0f1; /* Colore di sfondo */
    padding: 12px; /* Padding interno */
    box-sizing: border-box; /* Per includere il padding nelle dimensioni */
    height: 100%;
}

mat-toolbar {
    background-color: #1a252f; /* Blu ancora più scuro */
    color: white;
}

mat-nav-list a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 16px; /* Imposta un padding costante */
    margin: 0; /* Rimuovi eventuali margini che potrebbero variare */
    display: block;
    transition: background 0.3s ease-in-out;
}

mat-nav-list a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Per evidenziare il link attivo */
mat-nav-list a.active {
    background: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

/* Aggiungiamo uno spazio attorno al titolo della toolbar */
mat-toolbar span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Stile per il bottone menu */
button[mat-icon-button] {
    color: white;
    background-color: #1374C5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

mat-icon {
    font-size: 25px; /* Dimensione dell'icona */
    color: white; /* Colore dell'icona */
}